{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscribe</title>
  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}
</head>
<body>
  <div class="container-fluid">

    <h1>Subscribe!!!</h1>

    <div class="form">

    <form  action="{%url 'subscribe'%}" method="post">
      {%csrf_token%}
  
      {% bootstrap_form letterForm layout='inline' %}
      <input type="submit" value="Subscribe" style="background-color:coral; color: aliceblue; border: none;">
    </form>

  </div>
  
  </div>
</body>
</html>